---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


  <div class="wordwrap">You can also find my publications on <a href="https://www.researchgate.net/profile/Anne-Speer">my ResearchGate profile</a>.</div>

{% include base_path %}

{% assign publications_by_year = site.publications | group_by_exp: "item", "item.date | date: '%Y'" | sort: "name" | reverse %}

{% for year_group in publications_by_year %}
  <h2 class="year-header">{{ year_group.name }}</h2>
  
  <div class="publications-list">
    {% assign sorted_pubs = year_group.items | sort: 'date' | reverse %}
    {% for post in sorted_pubs %}
      <div class="publication-item">
        {{ post.citation }}
      </div>
    {% endfor %}
  </div>
{% endfor %}

<style>
.publications-list {
  margin-bottom: 2.5em;
}

.publication-item {
  margin-bottom: 1.2em;
  line-height: 1.6;
  text-indent: -2em;
  padding-left: 2em;
}

.year-header {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}


  
</style>
